*
{
    margin:0;
    padding:0;
}
#calcBox
{
    border:1px solid black;
    width:600px;
    margin:140px auto;
}
#displayBar
{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(19,19,45,1) 45%, rgba(0,212,255,1) 100%);
}
table
{
    width:100%;
    height:100%;
}
td
{
    width:25%;
    height:90px;
    margin:0px;
    padding:0px;
}
button
{
    width:100%;
    height:100%;
}